<div class = "container">
  <div>
    <header class = "view-header">
        Products List
    </header>
  </div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="products">
      <ng-container matColumnDef="productId">
          <th mat-header-cell *matHeaderCellDef> Product ID </th>
          <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
        </ng-container>

        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef> Product Name </th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>

        <ng-container matColumnDef="manufacturerDetails">
          <th mat-header-cell *matHeaderCellDef> Manufacturer Details </th>
          <td mat-cell *matCellDef="let element"> {{element.manufacturerDetails}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-stroked-button color="primary" (click) = "updateClick(element)">Update</button>
            </td>
          </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn" (click)="deleteClick(element.productId)">Delete</button>
              </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSize]="10"  showFirstLastButtons></mat-paginator>
    </div>
  </div>
