

<div class = "landing">
  <header class="head">
    Product Management
  </header>
      <div class = "items">
        <div class = "box supply" [routerLink]="['supplies']">
          <img class = "icon" src="assets/truck.png" alt="supply">
          Supplies
        </div>

        <div class = "box product" [routerLink]="['products']">
          <img class = "icon" src="assets/supply.png" alt="product">
          Products
        </div>

        <div class = "box vendor" [routerLink]="['vendors']">
          <img class = "icon" src="assets/shop.png" alt="vendor">
          Vendors
        </div>

      </div>
</div>





