<div class = "container">
  <section>
      <mat-card class = 'mat-card'>
          <mat-card-title>Update Product</mat-card-title>
          <form [formGroup]="productUpdateForm" autocomplete="off"
           novalidate (ngSubmit)="updateProduct(productUpdateForm.value)"
           fxLayout="column wrap"
          fxLayoutAlign="center center" fxLayoutGap="2rem">
          <mat-card-content>
            <mat-form-field>
              <input matInput type="text" placeholder="Product Name" formControlName="productName" id="name">
              <mat-error *ngIf="hasError('productName', 'required')">Product Name is required</mat-error>
              <mat-error *ngIf="hasError('productName', 'minlength')">Product Name must be atleast 3 Characters</mat-error>
            </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" placeholder="Manufacturer Name" formControlName="manufacturerDetails" id="name">
          <mat-error *ngIf="hasError('manufacturerDetails', 'required')">Manufacturer Name is required</mat-error>
          <mat-error *ngIf="hasError('manufacturerDetails', 'minlength')">Manufacturer Name must be atleast 6 Characters</mat-error>
        </mat-form-field>
      </mat-card-content>
          <mat-card-content>
                    <mat-form-field>
                      <input matInput type="text" placeholder="Price" formControlName="price" id="name">
                      <mat-error *ngIf="hasError('price', 'required')">Price is required</mat-error>
                      <mat-error *ngIf="hasError('price', 'isNotNumber')">Price is not a number</mat-error>
                      <mat-error *ngIf="hasError('price', 'min')">Enter a valid Price</mat-error>
                    </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                  <button mat-raised-button color="primary" [disabled]="!productUpdateForm.valid">Update</button>
                  <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
              </mat-card-actions>
            </form>
        </mat-card>
    </section>
  </div>




